**/.DS_Store
.idea/
.vs/
.vscode/
.opencode/
build/
cmake-build-*/
CMakeFiles/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
.zed/

# Dev env
dev_env.sh
run_release
run

# Source header: Ignored because we used version.h.cmake
source/version.h

# Secret
secret.json
